.appRoot {
  padding: 20px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* TODO: Move this to component based css */
.card {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  background: #882a2a;
}